{% extends "_layouts/main" %}
{% block main %}
    {% set countries = craft.commerce.countries.allEnabledCountriesAsList %}
    {% set states = craft.commerce.states.allEnabledStates %}
    <form method="post">
        <input type="hidden" name="action" value="commerce/cart/update-cart">
        {{ redirectInput('store/checkout/shipping') }}
        {{ csrfInput() }}
        <div class="row">
            <div class="intro large-12 small-12 columns">
                <p>Checkout - 1 of 3</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 small-12 columns">
                <h4>Shipping Address</h4>
                <div class="row">
                    <div class="large-6 columns">
<<<<<<< HEAD
                        <label for="shippingAddress-firstName">First Name
                            *</label>
                        <input type="text" id="shippingAddress-firstName"
                               class="u-full-width"
                               name="shippingAddress[firstName]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-lastName">Last Name
                            *</label>
                        <input type="text" id="shippingAddress-lastName"
                               class="u-full-width"
                               name="shippingAddress[lastName]" value="">
=======
                        <label for="shippingAddress-firstName">First Name *</label>
                        <input type="text" id="shippingAddress-firstName" class="u-full-width" name="shippingAddress[firstName]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-lastName">Last Name *</label>
                        <input type="text" id="shippingAddress-lastName" class="u-full-width" name="shippingAddress[lastName]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="shippingAddress-address1">Address 1</label>
<<<<<<< HEAD
                        <input type="text" id="shippingAddress-address1"
                               class="u-full-width"
                               name="shippingAddress[address1]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-address2">Address 2</label>
                        <input type="text" id="shippingAddress-address2"
                               class="u-full-width"
                               name="shippingAddress[address2]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-city">City</label>
                        <input type="text" id="shippingAddress-city"
                               class="u-full-width" name="shippingAddress[city]"
                               value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-zipCode">Zip Code</label>
                        <input type="text" id="shippingAddress-zipCode"
                               class="u-full-width"
                               name="shippingAddress[zipCode]" value="">
=======
                        <input type="text" id="shippingAddress-address1" class="u-full-width" name="shippingAddress[address1]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-address2">Address 2</label>
                        <input type="text" id="shippingAddress-address2" class="u-full-width" name="shippingAddress[address2]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-city">City</label>
                        <input type="text" id="shippingAddress-city" class="u-full-width" name="shippingAddress[city]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-zipCode">Zip Code</label>
                        <input type="text" id="shippingAddress-zipCode" class="u-full-width" name="shippingAddress[zipCode]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="shippingAddress-phone">Phone</label>
<<<<<<< HEAD
                        <input type="text" id="shippingAddress-phone"
                               class="u-full-width"
                               name="shippingAddress[phone]" value="">
=======
                        <input type="text" id="shippingAddress-phone" class="u-full-width" name="shippingAddress[phone]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="shippingAddress-countryId">Country *</label>
<<<<<<< HEAD
                        <select class="address-country u-full-width"
                                name="shippingAddress[countryId]">
=======
                        <select class="address-country u-full-width" name="shippingAddress[countryId]">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                            <option value=""></option>
                            {% for key, option in countries %}
                                <option value="{{ key }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="large-6 columns">
                        <label for="shippingAddress-state">State</label>
                        <select>
<<<<<<< HEAD
                            <option value=""></option>
=======
                                <option value=""></option>
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                            {% for stateId, stateName in states %}
                                <option value="{{ stateId }}">{{ stateName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="large-6 small-12 columns">
                <h4>Billing Address</h4>
                <div class="row">
                    <div class="large-6 columns">
<<<<<<< HEAD
                        <label for="billingAddress-firstName">First Name
                            *</label>
                        <input type="text" id="billingAddress-firstName"
                               class="u-full-width"
                               name="billingAddress[firstName]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="billingAddress-lastName">Last Name *</label>
                        <input type="text" id="billingAddress-lastName"
                               class="u-full-width"
                               name="billingAddress[lastName]" value="">
=======
                        <label for="billingAddress-firstName">First Name *</label>
                        <input type="text" id="billingAddress-firstName" class="u-full-width" name="billingAddress[firstName]" value="">
                    </div>
                    <div class="large-6 columns">
                        <label for="billingAddress-lastName">Last Name *</label>
                        <input type="text" id="billingAddress-lastName" class="u-full-width" name="billingAddress[lastName]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="billingAddress-address1">Address 1</label>
<<<<<<< HEAD
                        <input type="text" id="billingAddress-address1"
                               class="u-full-width"
                               name="billingAddress[address1]" value="">
=======
                        <input type="text" id="billingAddress-address1" class="u-full-width" name="billingAddress[address1]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>

                    <div class="large-6 columns">
                        <label for="billingAddress-address2">Address 2</label>
<<<<<<< HEAD
                        <input type="text" id="billingAddress-address2"
                               class="u-full-width"
                               name="billingAddress[address2]" value="">
=======
                        <input type="text" id="billingAddress-address2" class="u-full-width" name="billingAddress[address2]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>

                    <div class="large-6 columns">
                        <label for="billingAddress-city">City</label>
<<<<<<< HEAD
                        <input type="text" id="billingAddress-city"
                               class="u-full-width" name="billingAddress[city]"
                               value="">
=======
                        <input type="text" id="billingAddress-city" class="u-full-width" name="billingAddress[city]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>

                    <div class="large-6 columns">
                        <label for="shippingAddress-zipCode">Zip Code</label>
<<<<<<< HEAD
                        <input type="text" id="shippingAddress-zipCode"
                               class="u-full-width"
                               name="shippingAddress[zipCode]" value="">
=======
                        <input type="text" id="shippingAddress-zipCode" class="u-full-width" name="shippingAddress[zipCode]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="billingAddress-phone">Phone</label>
<<<<<<< HEAD
                        <input type="text" id="billingAddress-phone"
                               class="u-full-width" name="billingAddress[phone]"
                               value="">
=======
                        <input type="text" id="billingAddress-phone" class="u-full-width" name="billingAddress[phone]" value="">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="billingAddress-countryId">Country *</label>
<<<<<<< HEAD
                        <select class="address-country u-full-width"
                                name="billingAddress[countryId]">
=======
                        <select class="address-country u-full-width" name="billingAddress[countryId]">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                            <option value=""></option>
                            {% for key, option in countries %}
                                <option value="{{ key }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="large-6 columns">
                        <label for="billingAddress-state">State</label>
                        <select>
                            <option value=""></option>
                            {% for stateId, stateName in states %}
<<<<<<< HEAD
                                <option value="{{ stateId }}">{{ stateName }}</option>
                            {% endfor %}
=======
                                        <option value="{{ stateId }}">{{ stateName }}</option>
                                    {% endfor %}
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
                        </select>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
            <input type="submit" class="button button-primary"
                   value="Save Addresses">
=======
            <input type="submit" class="button button-primary" value="Save Addresses">
>>>>>>> eabdac7572f763628aee79796d42e569640f5dfe
    </form>
    </div>
{% endblock %}