{% extends "_layouts/main" %}
{# if logged out, forward to plans page #}
{% if not currentUser %}
    {% redirect('coffee-club/plans') %}
{% endif %}
{% block main %}
    <div class="full-bleed-header"
         style="background-size: 100%; height: 200px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/coffee-shop.jpg); background-repeat: no-repeat, repeat;">
        <div class="page-title text-center">
            <h2 class="logo"><span class="scripty">Coffee Club</h2>
        </div>
    </div>
    <div class="row">
        <div class="intro">
            <div class="large-12 small-12 columns">
                <div class="large-6 small-12 columns">
                    <p>
                        {% if currentUser %}
                            <a href="{{ url('store/customer') }}"
                               class="button small radius secondary">{{ "My Orders"|t }}</a>
                            <a href="{{ url('store/customer/addresses') }}"
                               class="button small radius secondary">{{ "My Addresses"|t }}</a>
                            <a href="{{ logoutUrl }}" class="button small radius secondary">Logout</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Your Club Subscription</h1>
        <p>Your Coffee Club subscription is active and you should be receivng your coffee beans in the mail.</p>
    </div>

    {# Get the subscriptions for this customer #}
    {% set subscriptions = craft.subscriptions.user(currentUser).status('active').all() %}
    {# End get subscriptions #}
    {% if not subscriptions %}
        {% redirect('/coffee-club/plans') %}
    {% endif %}
    <div class="row">
        <table class="hover">
            <tr>
                <th width="400">Subscription Plan</th>
                <th>Next Billing Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.name }}</td>
                <td>{{subscription.nextPaymentDate|date('M d, Y')}}</td>
                <td>{{ subscription.status | capitalize }}</td>
                <td>
                    {% if subscription.canReactivate() %}
                    <form method="post">
                        <input type="hidden" name="action" value="commerce/subscriptions/reactivate">
                        <input type="hidden" name="subscriptionUid" value="{{ subscription.uid|hash }}">
                        {{ csrfInput() }}
                        <button type="submit" class="button tiny center ">Reactivate</button>
                    </form>
                    {% else %}
                    <form method="post">
                        <input type="hidden" name="action" value="commerce/subscriptions/cancel">
                        <input type="hidden" name="subscriptionUid" value="{{ subscription.uid | hash }}" />
                        {{ redirectInput('coffee-club') }}
                        {{ csrfInput() }}
                        {{ subscription.plan.getGateway().getCancelSubscriptionFormHtml(subscription) 
                        | raw }}
                        <button type="submit" class="button tiny">Unsubscribe</button>
                    </form>
                    {% endif %}
                </td>
 {#               <td>
                    {% if subscription.canReactivate() %}
                    <form method="post">
                        <input type="hidden" name="action" value="commerce/subscriptions/reactivate">
                        <input type="hidden" name="subscriptionUid" value="{{ subscription.uid|hash }}">
                        {{ csrfInput() }}
                        <button type="submit" class="button tiny center ">Reactivate</button>
                    </form>
                    {% else %}
                    <form method="post">
                        <input type="hidden" name="action" value="commerce/subscriptions/cancel">
                        <input type="hidden" name="subscriptionUid" value="{{ subscription.uid | hash }}" />
                        {{ redirectInput('coffee-club') }}
                        {{ csrfInput() }}
                        <input type="hidden" name="cancelOnPeriodEnd" value="{{ subscription.uid | hash }}:0">
                        <p class="tiny"><em>Unsubscribe at end of next billing cycle.</em></p>
                        <button type="submit" class="button tiny">Unsubscribe</button>
                    </form>
                    {% endif %}
                </td> #}
            </tr>
            {% endfor %}
        </table>
    </div>
    

{% endblock %}