{% extends '_layouts/main' %}

{% block main %}

<ul class="breadcrumbs">
    <li><a href="/recipes">Recipes</a></li>
    <li>{{ entry.title }}</li>
</ul>
<div class="full-bleed-header" style="background-size: 100%; height: 300px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url({{ entry.drinkImage.one().getUrl() }}); background-repeat: no-repeat, repeat;">
    <div class="page-title text-center">
        <h2 class="logo"><span class="scripty">{{ entry.title }}</h2>
        <p class="tagline reverse">Espresso</p>
    </div>
</div>
<div class="row">
    <div class="intro large-12 small-12 columns text-center">
        <p>{{ entry.pageIntro }}</p>
    </div>
</div>
<div class="row">
        <div class="panel radius snapshot large-12 small-12 columns">
            <h3>Recipe Snapshot</h3>
            <ul>
            	{% for row in entry.recipeSnapshot %}
                <li>{{ row.snapshotText }}</li>
                {% endfor %}
            </ul>
        </div>
        {% for block in entry.recipeContents %}
        {# image block #}
		{% switch block.type %}
		{% case 'recipeImage' %}
		{% set image = block.image.one() %}
        <div class="photo-inset full"> <!-- full, left, right -->
            <img src="{{ image.getUrl() }}"
                 alt=""/>
			{% if block.imageCaption %}
            <p class="caption">
                <small>{{ block.imageCaption }}</small>
            </p>
            {% endif %}
        </div>

		{# end image block #}

        {# start body copy #}
		{% case 'recipeCopy' %}
		{{ block.bodyContent }}
        {# end body copy #}

		{% case 'recipeIngredients' %}
			
        <table width="100%">
            <tr>
                <th width="20%">Amount</th>
                <th>Ingredient</th>
            </tr>
            {% for row in block.ingredients %}
            <tr>
                <td>{{ row.amount }}</td>
                <td>{{ row.ingredient }}</td>
            </tr>
            {% endfor %}
        </table>
		
		{% case "recipeSteps" %}
			
        <div class="steps">
            <h3>{{ block.stepsTitle }}</h3>
            <ol>
            	{% for step in block.stepsContent %}
                <li>{{ step.stepsInstructions }}</li>
                {% endfor %}
            </ol>
        </div>
		{% case "recipeTip" %}
			
        <div class="panel tip">
            <p>{{ block.tipContent }}</p>
        </div>
         {% endswitch %}
        {% endfor %}
    </div>
</div>

{% endblock %}