{% extends '_layouts/main' %}

{% if not currentUser %} {% redirect 'login' %} {% endif %}
{% block main %}
    <div class="row">
        <div class="intro large-12 small-12 columns">
            <p>Your Past Orders</p>
        </div>
    </div>
    <div class="row">
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% set customerOrders = craft.orders.customerId(craft.commerce.customers.customer).isCompleted(true).all() %}
            {% for order in customerOrders %}
                <tr>
                    <td><a href="{{ url('store/customer/order', { number: order.number }) }}">Order #{{ order.id }}</a></td>
                    <td>{{ order.dateOrdered | date }}</td>
                    <td>{{ order.totalQty }} item{% if order.totalQty > 1 %}s{% endif %}</td>
                    <td>{{ order.totalPrice | currency(order.currency) }}</td>
                    <td><span style="color:{{ order.orderStatus.color }}">{{ order.orderStatus }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        {% set cartItems = craft.commerce.carts.cart %}
        {% if cartItems.hasLineItems() %}
            <a href="/store/cart" class="button medium secondary">Finish Your Current Order</a>
        {% endif %}
    </div>
{% endblock %}
